body {
  white-space: pre;
  font-family: monospace;
  background-color: #2A363B;
  color: #99B898;
}

a {
  color: #FF847C;
}

.property {
  font-weight: bold;
  color: #FECEA8;
}

.type-null {
  color: #FF847C;
}

.type-boolean {
  color: #E84A5F;
}

.type-number {
  color: blue;
}

.type-string {
  color: #99B898;
}

.callback-function {
  color: gray;
}

.collapser:after {
  content: "-";
}

.collapsed > .collapser:after {
  content: "+";
}

.ellipsis:after {
  content: " … ";
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: rgba(235, 238, 249, 0.2);  
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
  color: #99B898;
}
